body{
	font-family: Roboto, Helvetica, Sans Serif;
	border: 20px solid #bdc3c7;
	margin: 2% 5%;
	padding: 0 3%;
}

.date{
	color: #3498db;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2rem;
}

.post{
	padding: 0;
	margin: 5% 0;
}

hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.05), rgba(0,0,0,0.15), rgba(0,0,0,0.05));
}

section p:nth-of-type(1){
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

h2{
	color: #2c3e50;
	font-family: 2.0rem;
}